*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    /* Colors */
    /* Primary */
    --violet-background: hsl(257, 40%, 49%);
    --softMagenta-hover: hsl(300, 69%, 71%);
    --white-typography: rgb(245, 245, 245);
    /* Typography */
    --poppins-headings: 'Poppins', sans-serif;
    --openSans-paragraph: 'Open Sans', sans-serif;
    --poppins-weightBold: 700;
    --poppins-weightRegular: 400;
    --openSans-weightRegular: 400;
}
body{
    width: 100%;
    background-color: var(--violet-background);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
header{
    width: 100%;
    height: 8rem;
    position: relative;
}
h1, p{
    color: var(--white-typography);
}
.img-header{
    width: 15rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
}
.container-main{
    width: 100%;
    padding: 4rem 3rem;
}
.img-mockups{
    width: 100%;
}
.description-container{
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}
.description-container--title{
    font-family: var(--poppins-headings);
    font-size: 2.4rem;
    font-weight: var(--poppins-weightBold);
}
.description-container-paragraph{
    font-family: var(--openSans-paragraph);
    font-size: 1.6rem;
    font-weight: var(--openSans-weightRegular);
    margin-top: 1rem;
}
.btn-register{
    display: block;
    width: 20rem;
    height: 4.5rem;
    margin: 2rem auto;
    padding: 1.2rem 0;
    text-decoration: none;
    color: var(--violet-background);
    font-family: var(--poppins-headings);
    font-size: 1.4rem;
    font-weight: var(--poppins-weightRegular);
    background-color: var(--white-typography);
    border-radius: 5rem;
    box-shadow: 0 3px 10px rgba(51, 51, 51, 0.514);
    transition: 0.5s;
}
.btn-register:hover{
    background-color: var(--softMagenta-hover);
    color: var(--white-typography);
}
footer{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}
.social-media{
    display: flex;
    gap: 1.5rem;
}
.social-media--link{
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--white-typography);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}
.bx{
    font-size: 2rem;
    color: var(--white-typography);
    transition: 0.5s;
}
.social-media--link:hover{
    border: 1px solid var(--softMagenta-hover);
    transform: translateY(-0.3rem);
}
.social-media--link:hover .bx{
    color: var(--softMagenta-hover);
}
